<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walkman World</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Walkman World</h1>

    {% if message %}
        <p class="msg">{{ message }}</p>
    {% endif %}

    <form method="POST">
    <input type="text" name="model" placeholder="Model (e.g. WM-EX631)" required>
    <input type="number" name="year" placeholder="Year (e.g. 1999)" required>
    <input type="text" name="description" placeholder="Description" required>
    <button type="submit">Add Walkman</button>
</form>

    <form method="GET">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Search model...">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for walkman in walkmans %}
            <li>{{ walkman[1] }} -
                <a href="/rate?model={{ walkman[1] }}">Look my rate</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
